<!-- some animations i found online-->

<div class="container">
  <form>
    <div class="form">
      <!-- Form name-->
      <h1 class="text-center text-primary">What do you plan on doing today?</h1>
      <div class="input-group-prepend">
        <!--Textbox with writting inside-->
        <input type="text" #todovariable class="form-control" placeholder="Add something here" name="todo" ngModel>
        <!-- gets the variable from the attribute-, not needed, just an example->
        <p>{{todovariable.value}}</p>
        <!--Button and text, on click, add the text to the array-->
        <span class="input-group-text" (click)="addTodo(todovariable.value)">
          <i class="material-icons">add</i>
        </span>
      </div>
    </div>
    <div class="data">
        <ul class="list-unstyled">
          <!-- loops through the array and prints as part of a list-->
          <li *ngFor="let todo of todoArray">{{todo}}
            <i (click)="deleteItem(todo)" class="material-icons">delete</i>
          </li>
        </ul>
      </div>
  </form>
</div>
